body{
    overflow-x: hidden;
}

.checkout-cart{
    padding: 3rem;;
    background: whitesmoke;
    width: calc(100% - 455px);
}

input{
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}